@using eDoxa.Identity.Areas.Identity.ViewModels.Device
@model DeviceAuthorizationViewModel
<div class="page-header">
    <div class="page-header row">
        <div class="col-sm-10">
            @if (Model.ClientLogoUrl != null)
            {
                <div class="client-logo">
                    <img src="@Model.ClientLogoUrl" alt="Client Logo">
                </div>
            }
            <h1>
                @Model.ClientName
                <small>is requesting your permission</small>
            </h1>
        </div>
    </div>
    @if (Model.ConfirmUserCode)
    {
        <div class="row">
            <div class="col-sm-8">
                <p>
                    Please confirm that the authorization request quotes the code: "@Model.UserCode".
                </p>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-8">
            <partial name="_ValidationSummary" />
            <form asp-action="Callback" class="consent-form">
                <input asp-for="UserCode" type="hidden" value="@Model.UserCode" />
                <div>Uncheck the permissions you do not wish to grant.</div>
                @if (Model.IdentityScopes.Any())
                {
                    <div class="consent-buttons panel panel-default">
                        <div class="panel-heading">
                            <i class="fa-fw fas fa-user"></i>
                            Personal Information
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.IdentityScopes)
                            {
                                <partial name="_ScopeListItem" model="@scope" />
                            }
                        </ul>
                    </div>
                }

                @if (Model.ResourceScopes.Any())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa-fw fas fa-tasks"></i>
                            Application Access
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.ResourceScopes)
                            {
                                <partial model="scope" name="_ScopeListItem" />
                            }
                        </ul>
                    </div>
                }

                @if (Model.AllowRememberConsent)
                {
                    <div class="consent-remember">
                        <label>
                            <input class="consent-scopecheck" asp-for="RememberConsent" />
                            <strong>Remember My Decision</strong>
                        </label>
                    </div>
                }
                <div class="consent-buttons">
                    <button autofocus class="btn btn-primary" name="button" value="yes">
                        Yes, Allow
                    </button>
                    <button class="btn" name="button" value="no">
                        No, Do Not Allow
                    </button>
                    @if (Model.ClientUrl != null)
                    {
                        <a class="btn btn-default pull-right" target="_blank" href="@Model.ClientUrl">
                            <i class="fa-fw fa-info-circle fas"></i>
                            <strong>@Model.ClientName</strong>
                        </a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
