@using eDoxa.Identity.Application.Services
@inject SignInService SignInService
@{
    var hasConnections = (await SignInService.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="list-group mb-1">
    <a asp-page="./Index" class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)">
        <i class="fas fa-home fa-fw"></i>
        Account Overview
    </a>
</div>
<div class="list-group mb-1">
    <a asp-page="./Details" class="list-group-item list-group-item-action @ManageNavPages.DetailsNavClass(ViewContext)">
        <i class="fas fa-user fa-fw"></i>
        Account Details
    </a>
    <a asp-page="./Subscriptions" class="list-group-item list-group-item-action @ManageNavPages.SubscriptionsNavClass(ViewContext)">
        <i class="fas fa-list fa-fw"></i>
        Subscriptions
    </a>
</div>
<div class="list-group mb-1">
    <a asp-page="./ChangePassword" class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)">
        Password
    </a>
    <a asp-page="./Security" class="list-group-item list-group-item-action @ManageNavPages.SecurityNavClass(ViewContext)">
        <i class="fas fa-shield-alt fa-fw"></i>
        Security
    </a>
    <a asp-page="./Privacy" class="list-group-item list-group-item-action @ManageNavPages.PrivacyNavClass(ViewContext)">
        <i class="fas fa-lock fa-fw"></i>
        Privacy
    </a>
    @if (hasConnections)
    {
        <a asp-page="./Connexions" class="list-group-item list-group-item-action @ManageNavPages.ConnectionsNavClass(ViewContext)">
            <i class="fab fa-connectdevelop fa-fw"></i>
            Connections
        </a>
    }
    <a asp-page="./TwoFactorAuthentication" class="list-group-item list-group-item-action @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
        Two-factor authentication
    </a>
    <a asp-page="./PersonalData" class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)">
        Personal data
    </a>
</div>
