@page
@model ConnexionsModel
@{
    ViewData["Title"] = "CONNECTIONS";
    ViewData["ActivePage"] = ManageNavPages.Connections;
}
<h4 class="mb-4">@ViewData["Title"]</h4>
<partial for="StatusMessage" name="_StatusMessage" />
@if (Model.OtherLogins?.Count > 0)
{
    <div class="bg-dark card mb-3 text-white">
        <div class="card-header">
            CONNECTED ACCOUNTS
        </div>
        <table class="table table-dark mb-0">
            <tbody>
                @foreach (var auth in Model.OtherLogins)
                {
                    var login = Model.CurrentLogins.SingleOrDefault(ul => auth.Name == ul.LoginProvider);
                    if (login != null)
                    {
                        <tr>
                            <td class="align-middle text-left">@login.ProviderDisplayName</td>
                            <td class="align-middle text-left"></td>
                            <td class="align-middle text-right">
                                @if (Model.ShowRemoveButton)
                                {
                                    <form asp-page-handler="RemoveLogin" method="post">
                                        <div>
                                            <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                            <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                            <button class="btn btn-link btn-sm" type="submit">
                                                <i class="fas fa-times fa-fw"></i>
                                                DISCONNECT
                                            </button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    @: &nbsp;
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="align-middle text-left">@auth.DisplayName</td>
                            <td class="align-middle text-left">
                                Not Connected
                            </td>
                            <td class="align-middle text-right">
                                <form asp-page-handler="LinkLogin" method="post">
                                    <button type="submit" class="btn btn-link btn-sm" name="provider" value="@auth.Name">
                                        <i class="fas fa-plus fa-fw"></i>
                                        CONNECT
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
}
