@model GrantsViewModel

<h1>Client application access</h1>
<hr/>
@if (!Model.Grants.Any())
{
    <div class="alert alert-info mt-3">
        You have not given access to any applications
    </div>
}
else
{
    foreach (var grant in Model.Grants)
    {
        <div class="bg-dark card mb-3 text-white">
            <h5 class="card-header">
                @grant.ClientName
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        @if (grant.ClientLogoUrl != null)
                        {
                            <img src="@grant.ClientLogoUrl" alt="Logo">
                        }
                    </div>
                    <div class="col-10">
                        <dl class="row">
                            <dt class="col-2">Created</dt>
                            <dd class="col-10">@grant.Created.ToString("yyyy-MM-dd")</dd>
                            @if (grant.Expires.HasValue)
                            {
                                <dt class="col-2">Expires</dt>
                                <dd class="col-10">@grant.Expires.Value.ToString("yyyy-MM-dd")</dd>
                            }
                            @if (grant.IdentityGrantNames.Any())
                            {
                                <dt class="col-2">Identity Grants</dt>
                                foreach (var name in grant.IdentityGrantNames)
                                {
                                    <dd class="col-10">@name</dd>
                                }
                            }
                            @if (grant.ApiGrantNames.Any())
                            {
                                <dt class="col-2">API Grants</dt>
                                foreach (var name in grant.ApiGrantNames)
                                {
                                    <dd class="col-10">@name</dd>
                                }
                            }
                        </dl>
                    </div>
                </div>
                <form asp-action="Revoke">
                    <input type="hidden" name="clientId" value="@grant.ClientId">
                    <button class="btn btn-danger float-right">Revoke Access</button>
                </form>
            </div>
        </div>
    }
}