@model eDoxa.IdentityServer.ViewModels.ConsentViewModel

@if (Model.ClientLogoUrl != null)
{
    <img src="@Model.ClientLogoUrl" alt="client-logo">
}
<h1>
    @Model.ClientName <small>is requesting your permission</small>
</h1>
<hr/>
<partial name="_ValidationSummary"/>
<form asp-action="Index" class="consent-form">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="alert alert-info mb-3" role="alert">
        Uncheck the permissions you do not wish to grant.
    </div>
    @if (Model.IdentityScopes.Any())
    {
        <div class="bg-dark card mb-3">
            <div class="card-header">
                <i class="fas fa-user fa-fw"></i>
                Personal Information
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var scope in Model.IdentityScopes)
                {
                    <partial name="_ScopeListItem" model="@scope"/>
                }
            </ul>
        </div>
    }
    @if (Model.ResourceScopes.Any())
    {
        <div class="bg-dark card mb-3 text-white">
            <div class="card-header">
                <i class="fas fa-tasks fa-fw"></i>
                Application Access
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var scope in Model.ResourceScopes)
                {
                    <partial name="_ScopeListItem" model="scope"/>
                }
            </ul>
        </div>
    }
    <div class="bg-dark card">
        <div class="card-body">
            @if (Model.AllowRememberConsent)
            {
                <div class="custom-checkbox custom-control mb-3">
                    <input asp-for="RememberConsent" type="checkbox" class="custom-control-input" id="rememberConsent" required>
                    <label class="custom-control-label text-white" for="rememberConsent">
                        Remember My Decision
                    </label>
                </div>
            }
            <button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
            <button name="button" value="no" class="btn btn-secondary">No, Do Not Allow</button>
            @if (Model.ClientUrl != null)
            {
                <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                    <i class="fas fa-info-circle fa-fw"></i>
                    <strong>@Model.ClientName</strong>
                </a>
            }
        </div>
    </div>
</form>