@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card bg-dark text-white mt-5">
            <h5 class="card-header">@ViewData["Title"]</h5>
            <div class="card-body pt-2">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="col-form-label"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="col-form-label"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="custom-checkbox custom-control">
                            <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="rememberMe">
                            <label asp-for="Input.RememberMe" class="custom-control-label" for="rememberMe">Remember me?</label>
                            <div class="float-right">
                                <a asp-page="./ForgotPassword" id="forgot-password">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                    <hr class="border-white" />
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" type="submit">
                            <i class="fas fa-sign-in-alt fa-fw"></i>
                            Log in
                        </button>
                    </div>
                </form>
                @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See
                            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a> for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (provider.Name == "Facebook")
                                {
                                    <button id="@provider.Name.ToLower()" type="submit" class="btn btn-block" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                                }
                            }
                        </form>
                    </div>
                }
                <hr class="border-white" />
                <p class="mb-0 text-center">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
