@using eDoxa.Identity.Areas.Identity.ViewModels.Consent
@model ScopeViewModel
<li class="list-group-item list-group-item-dark">
    <div class="custom-checkbox custom-control">
        <input class="custom-control-input" type="checkbox" name="ScopesConsented" id="scopes_@Model.Name" value="@Model.Name" checked="@Model.Checked" disabled="@Model.Required">
        <label class="custom-control-label text-white" for="scopes_@Model.Name">
            @if (Model.Required)
            {
                <input type="hidden" name="ScopesConsented" value="@Model.Name" />
            }
            <strong class="text-dark">@Model.DisplayName</strong>
            @if (Model.Emphasize)
            {
                <i class="fa-exclamation-triangle fas"></i>
            }
            @if (Model.Required)
            {
                <span>
                    <em>(required)</em>
                </span>
            }
        </label>
        @if (Model.Description != null)
        {
            <div class="form-text text-muted" for="scopes_@Model.Name">
                @Model.Description</div>
        }
    </div>
</li>
